<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet" />
        <style>
                #itemTable tbody tr td input,
                #itemTable tbody tr td select {
                    min-width: max-content;
                }
            </style>
    </head>
    <body>
        <div class="container my-5 overflow-x-auto">
            <table class="table table-bordered table-sm text-center"
                id="itemTable">
                <thead>
                    <tr class="text-center">
                        <th>Part Number</th>
                        <th>Part Description</th>
                        <th>Material Type</th>
                        <th>Material Category</th>
                        <th>Cost Center</th>
                        <th>Location</th>
                        <th>Min Inventory Requirement</th>
                        <th>Unit</th>
                        <th>Approver</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name="new_part_number"
                                class="form-control form-control-sm"
                                placeholder="Part Number" autocomplete="off"
                                required>
                        </td>
                        <td>
                            <input type="text" name="new_part_desc"
                                class="form-control form-control-sm"
                                placeholder="Part Description"
                                autocomplete="off" required>
                        </td>
                        <td>
                            <select name="new_option"
                                class="form-select form-select-sm" required>
                                <option>Material Type</option>
                                <option value="Direct">Direct</option>
                                <option value="Indirect">Indirect</option>
                            </select>
                        </td>
                        <td>
                            <select name="new_category"
                                class="form-select form-select-sm w-100"
                                required>
                                <option>Material Category</option>
                                <option value="Critical">Critical</option>
                                <option
                                    value="Non-critical">Non-critical</option>
                                <option value="General Supply Material">General
                                    Supply Material</option>
                            </select>
                        </td>
                        <td>
                            <select name="new_cost_center"
                                class="form-select form-select-sm w-100"
                                required>
                                <option>Cost Center</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" name="addExpDateOption"
                                onchange="toggleExpDateInput(this)">
                                <option value>Has Expiration Date?</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <div id="expDateContainer" style="display:none;">
                                <input type="date" class="form-control"
                                    name="addExpDate"
                                    placeholder="Expiration Date">
                            </div>
                            <div id="naContainer" style="display:none;">
                                <input type="text" class="form-control"
                                    name="addExpDate" value="NA" readonly>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="new_min_invent_req"
                                class="form-control form-control-sm"
                                placeholder="Min. Inventory Requirement"
                                autocomplete="off" required>
                        </td>
                        <td>
                            <select class="form-select form-select-sm"
                                name="new_unit" required>
                                <option>Unit</option>
                            </select>
                        </td>
                        <td>
                            <select name="new_approver"
                                class="form-select form-select-sm" required>
                                <option>Approver</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Kitting">Kitting</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                onclick="this.closest('tr').remove()">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            function toggleExpDateInput(select) {
                var expDateContainer = document.getElementById('expDateContainer');
                var naContainer = document.getElementById('naContainer');
                
                if (select.value === 'yes') {
                    expDateContainer.style.display = 'block';
                    naContainer.style.display = 'none';
                } else if (select.value === 'no') {
                    expDateContainer.style.display = 'none';
                    naContainer.style.display = 'block';
                } else {
                    expDateContainer.style.display = 'none';
                    naContainer.style.display = 'none';
                }
            }
            </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
